// Media Queries - MOBILE FIRST
// http://bulma.io/documentation/overview/responsiveness/
@mixin breakpoint($point) {
	@if $point == mobile {
		@media screen and (max-width : 768px) { @content; }
	}
	@if $point == tablet {
		@media screen and (min-width : 769px) { @content; }
	}
 	@else if $point == desktop {
		@media screen and (min-width : 1024px) { @content; }
	}
	@else if $point == widescreen {
		@media screen and (min-width : 1216px) { @content; }
	}
	@else if $point == fullhd {
		@media screen and (min-width : 1408px) { @content; }
	}
}