@import 'variables';
@import 'mixins';

html {
	height: 100%;
}

body, html {
	background-color:$secondary;
}

body {
	min-height: 100%;
	color:$primary;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-size: $body;
  	line-height: 1.5em;
  	font-weight: 300;
}

h1 {
	font-size: round($h1 * 2/3);
	line-height: 1em;
	font-weight: 300;
	text-transform: uppercase;

@include breakpoint(tablet) {
	font-size: $h1;
}
}

h2 {
	font-size: round($h2 * 2/3);
	line-height: 1.25em;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 1em;

@include breakpoint(tablet) {
	font-size: $h2;
	margin-bottom: 1.25em;
}
}

h3 {
	font-size: $h3;
	line-height: 1em;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

h4 {
	font-size: $h4;
	line-height: 1.25em;
	text-transform: uppercase;
	color: $tertiary;
	margin-bottom: 0.75em;
}

.container {
	padding: 1em;
}

section {
	margin: 3em 0 6em 0;

@include breakpoint(tablet) {
	margin: 3em 0 8em 0;
}
}

header {
	padding: 2em 0;
}

p {
	margin-bottom: 1em;
	line-height: 1.75em;
}

strong {
	color: $primary;
}

hr {
	height: 1px;
	margin-bottom: 2em;
}

a {
	color: $primary;
	transition: all 0.4s;

	&:hover {
		color:$tertiary;
	}
}

/* ------ HOME PAGE ------ */

.section__intro {
	
	.image-people {
		background: url(../images/people.jpg) no-repeat center center;
		height: 120vw;
		background-size:cover;
		width: 100%;
	}

	.image-food {
		background: url(../images/food.jpg) no-repeat center center;
		height: 80vw;
		margin-bottom: 1.5em;
		background-size:cover;
		width: 100%;
	}

	.image-asparagus {
		background: url(../images/asparagus.jpg) no-repeat center center;
		height: 80vw;
		background-size:cover;
		width: 100%;
	}

	h4 {
		margin-top: 2em;
	}


@include breakpoint(tablet) {
	.column__intro-text {
		padding-bottom: 4em;
		order: 1;
	}

	.image-people {
		height: 100%;
	}

	.image-group {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	.image-food {
		height: 100%;
	}

	.image-asparagus {
		height: 100%;
	}
}
}



.section__featured-articles {
	.card {
		background-color: transparent;
	}

	.image {
		border-bottom: 5px solid $tertiary;
		overflow: hidden;

		img {
			transition: all 4s;

			&:hover {
				transform: scale(1.2);
			}
		}
	}

	.card-content {
		color:$primary;
		padding: 1.5em 0 0.5em 0;

		h4 {
			text-transform: capitalize;
			color: $primary;
		}

		p {
			color: darken($primary, 40%);
		}

		a {
			font-weight: 500;
			text-transform: uppercase;
			display: inline-block;
			position: relative;
			padding-bottom: 0.25em;
			border-bottom: 2px solid $primary;

			&:hover {
				border-color: $tertiary;
			}
		}
	}
}
